DATABASE_URL=postgres://postgres:postgres@localhost:5432/adaptive_powerbuilding_coach
DIRECT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DONATEPAY_URL=https://widget.donatepay.ru/widgets/page/700f07ce76dbc88529ee55f1caa1574acf2458e0afd8fe0c9134c2db4cfc72d9?widget_id=7707673&sum=200
NEXT_PUBLIC_CRYPTO_BTC_ADDRESS=bc1q9yer2gkwlqyple958uhqp2r50jy6pshc9tfmvn
NEXT_PUBLIC_CRYPTO_ETH_ADDRESS=0x811E305bf4eB0197dcF28094B91C010D8De68a7E
NEXT_PUBLIC_CRYPTO_USDT_TRC20_ADDRESS=TL7sXhVhYDBAJanQsvn9Bzj4jHVcxRuoxT
NEXT_PUBLIC_TELEGRAM_USERNAME=@tim1hik
NEXT_PUBLIC_MOBILE_FUND_RAISED_USD=0
NEXT_PUBLIC_MOBILE_FUND_DONOR_COUNT=
